<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Viajens
    </ion-title>
    <ion-icon class="icon-add" (click)="createTravel()" name="add" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viajens</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h4 class="ion-padding">Minhas Viagens</h4>
    <ion-card *ngFor="let travel of travels">
      <ion-card-content (click)="redirectToTravelDetails(travel)">
        <span>{{ travel.title }} </span><br/>
        <span>{{ travel.start_date }} </span> to
        <span>{{ travel.end_date }} </span>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
