<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Viajens
    </ion-title>
    <ion-icon class="icon-add" (click)="createTravel()" name="add" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viajens</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h4 class="ion-padding">Minhas Viagens</h4>
    <ion-card *ngFor="let travel of travels" [disabled]="travel.status !== 'ATIVA'">
      <ion-card-content (click)="redirectToTravelDetails(travel)">
        <span>{{ travel.title }} </span><br/>
        <span>{{ travel.startDate | date: 'dd/MM/YYYY' }} </span> to
        <span>{{ travel.endDate | date: 'dd/MM/YYYY' }} </span>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="refreshService()" expand="block">
    Atualizar
  </ion-button>
</ion-content>
