<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ travel?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="travel">
    <ion-card>
      <ion-card-content>
        <span>Código {{ travel.id }} </span><br/>
        <span>{{ travel.title }} </span><br/>
        <span>{{ travel.description }} </span><br/>
        <span>{{ travel.startDate | date: 'dd/MM/YYYY' }} </span> to
        <span>{{ travel.endDate | date: 'dd/MM/YYYY' }} </span><br/>
        <span>Status: {{ travel.status }} </span><br/>
      </ion-card-content>
    </ion-card>

    <div *ngIf="travel.expenses">
      <ion-card color="warning">
        <ion-card-content>
          <span>Despesas</span><br/>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let expense of travel.expenses">
        <ion-card-content>
          <span>Despesas</span><br/>
          <span>{{ expense.title }} </span><br/>
          <span>PayingUser: {{ expense.payingUser }} </span><br/>
          <span>Valor: {{ expense.value }} </span><br/>
          <span>Total: {{ expense.amout }} </span><br/>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
