<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Despesas
    </ion-title>
    <ion-icon class="icon-add" (click)="createNewExpense()" name="add" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Despesas</ion-title>
      <ion-icon name="people" slot="end"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!hideSelectTravel && travels">
    <h4 class="ion-padding">Selecione a sua viagem</h4>
    <ion-card *ngFor="let travel of travels">
      <ion-card-content (click)="selectTravel(travel)">
        <span>{{ travel.title }} </span><br/>
        <span>{{ travel.startDate | date: 'dd/MM/YYYY' }} </span> to
        <span>{{ travel.endDate | date: 'dd/MM/YYYY' }} </span>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <ion-card (click)="cleanTravelSelected()">
      <ion-card-content>
        <span>{{ travelSelected.title }} </span><br/>
        <span>{{ travelSelected.startDate }} </span> to
        <span>{{ travelSelected.endDate }} </span>

        <ion-button color="danger" slot="end">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <h4 class="ion-padding">Despesa: </h4>
    <ion-card>
      <ion-card-content (click)="addExpenseTitle()">
        <span>{{ newExpense?.title }} </span>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <h4 class="ion-padding">Total da Despesa: </h4>
    <ion-card>
      <ion-card-content (click)="addExpenseValue()">
        <span>{{ newExpense?.value }} </span>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="hideSelectTravel && participants">
    <div>
      <h4 class="ion-padding">Participantes: </h4>
      <ion-card *ngFor="let person of participants">
        <ion-card-content (click)="addPersonToPay(person)" [ngClass]="person.isParticipate? 'participant':''">
            <div>
              <span>{{ person.name }}</span> 
              <span *ngIf="!!person.isParticipate"> - R${{ person.value }}</span>
            </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
