<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Despesas
    </ion-title>
    <ion-icon class="icon-add" (click)="goToExpenses()" name="add" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Despesas</ion-title>
      <ion-icon name="people" slot="end"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!hideSelectTravel">
    <h4 class="ion-padding">Selecione a sua viagem</h4>
    <ion-card *ngFor="let travel of travels">
      <ion-card-content (click)="selectTravel(travel)">
        <span>{{ travel.title }} </span><br/>
        <span>{{ travel.start_date }} </span> to
        <span>{{ travel.end_date }} </span>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <ion-card (click)="cleanTravelSelected()">
      <ion-card-content>
        <span>{{ travelSelected.title }} </span><br/>
        <span>{{ travelSelected.start_date }} </span> to
        <span>{{ travelSelected.end_date }} </span>

        <ion-button color="danger" slot="end">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <h4 class="ion-padding">Despesa: </h4>
    <ion-card>
      <ion-card-content (click)="addExpenseTitle()">
        <span>{{ newExpense.title }} </span>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <h4 class="ion-padding">Descrição: </h4>
    <ion-card>
      <ion-card-content (click)="addExpenseDescription()">
        <span>{{ newExpense.description }} </span>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="hideSelectTravel && travelSelected">
    <h4 class="ion-padding">Pagantes: </h4>
    <ion-card>
      <ion-card-content (click)="addPersonToPay()">
        <div *ngIf="newExpense.person_to_pay">
          <div *ngFor="const person of newExpense.person_to_pay">
            <span>{{ person.name }}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  {{ newExpense | json }}

</ion-content>
